<!DOCTYPE html>
<html lang="en">
<head>
<title>GRABANSWER</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
</style>
</head>
<body>

<div class="header">
  <h1>Grabanswer</h1>
  <p style="font-family:'Courier New'">Got no time to read an entire text? Grab an answer!</p>
</div>

<div class="topnav">
  <a class="active" href="{{ url_for('main') }}">Grabanswer</a>
  <a href="/contact/">Contact</a>
  <a href="/about/">About</a>
</div>

<center><img src="../static/sp.jpg" height="20%" width="20%"></center>
        <a href="https://github.com/Sushobhan55"><h3 align ="center">Sushobhan Parajuli</h3></a>
        <h5 align="center">BA in Mathematics</h5>
        <h5 align="center">CUNY Baruch College</h5>
        <center>
            <a href="https://www.linkedin.com/in/sparajuli/"><input type="image" class="mr-2" height="65px" src="../static/linkedin.png" alt="Open Link"/></a>
            <a href="https://github.com/Sushobhan55"><input type="image" class="mr-3" height="65px" src="../static/github.png" alt="Open Link"/></a>
        </center>


</body>
</html>